<html>
    <head>
        <title>chatIt</title>
        <link rel="stylesheet" href="../assets/index.css">
    </head>
    <body>
        <div id="div1">
            <span id="span1"><b>chatIt</b></span>Now</br>
            <span id="span2">
                    Enlight your chatting experience</span>
        </div></br>
        <img id="img1" height="90" width="90" src="../assets/icon2.ico">

        logged in as <b><span id="currentUser"><%= user %></span></b>...</br>Select a Receiver

        <button id="selectButton">Select</button></br>

        <% for(var i = 0; i < obj.length; i++){ %>
            <input type="radio" name="option" value="<%= obj[i].username %>" /> <%= obj[i].username %><br><% } %>

            <div id="receiverName"></div>
            <div id="chatBoxDiv1"></div>
            <form action="" id="chatBoxForm">
                <input id="m" autocomplete="off" /><button>Send</button>
            </form>
            <script src="/socket.io/socket.io.js"></script>
            <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
            <script>
                $(function()
                {
                    var socket = io()
                    $(window).load(function(e)
                    {
                        socket.emit('detectUser', '<%= user %>')
                    })
                    $('#selectButton').click(function(e)
                    {
                        var selected =  $("input[name='option']:checked").val()
                        socket.emit('selectReceiver', selected)
                        $("#receiverName").text('Receiver : ' + selected)

                    })

                    $('form').submit(function(e)
                    {
                        e.preventDefault()
                        socket.emit('chat message', {user : '<b><%= user %></b>', msg : $('#m').val()})
                        $('#m').val('')
                        return false
                    })

                    socket.on('chat message', function(msg)
                    {
                        $('#chatBoxDiv1').append(msg + '<br>')
                        $('#chatBoxDiv1').scrollTop($('#chatBoxDiv1')[0].scrollHeight - $('#chatBoxDiv1')[0].clientHeight)
                    })
                })
            </script>
        </body>    
</html>